.graph {
  --fx-background-color: #F4FFFB;
}

.vertex {
  --fx-background-color: transparent;
  -fx-stroke-width: 3;
  -fx-stroke: #333;
  -fx-stroke-type: inside;
  -fx-fill: #eee;
}

.vertex-label {
  -fx-font: bold 8pt "sans-serif";
  -fx-fill: #333;
  -fx-font-weight: bold;
}

.edge {
  -fx-stroke-width: 3;
  -fx-stroke: #333;  
  -fx-fill: transparent; /*important for curved edges */
  -fx-stroke-line-cap: round;
  -fx-opacity: 0.8;
}

.edge-label {
  -fx-font: normal 7pt "sans-serif";
  -fx-fill: #333;
}

.arrow {
  -fx-stroke-width: 2.5;
  -fx-stroke: #333;  
  -fx-opacity: 0.8;
}

.vertex-unqueued {
  -fx-fill: #eee;
  -fx-stroke: #ccc;
}

.vertex-highlighted {
  -fx-fill: #ff8a27;
  -fx-stroke: #ff8a27;
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
  -fx-scale-z: 1.1;
}

.vertex-traversed {
  -fx-fill: #eee;
  -fx-stroke: #ff8a27;
}

.edge-unqueued {
  -fx-stroke: #ccc;
}

.edge-highlighted {
  -fx-stroke: #ff8a27;
  -fx-stroke-width: 3.5;
}

.edge-traversed, .arrow-highlighted, .arrow-traversed {
  -fx-stroke: #ff8a27;
}

.vertex-label-traversed, .edge-label-highlighted, .edge-label-traversed {
  -fx-fill: #ff8a27;
}

.vertex-label-unqueued, .edge-label-unqueued, .arrow-unqueued {
  -fx-fill: #ccc;
}

.vertex-label-highlighted {
  -fx-fill: #fff !important;
}